!!!
%html
  %head
    %title RapiPago Map
    %link{:rel => "stylesheet", :type => "text/css", :href => "css/bootstrap.min.css"}
    %script{:type => "text/javascript", :src => "js/jquery.min.js"}
    %script{:type => "text/javascript", :src => "js/bootstrap.min.js"}
  %body
    = yield
